page-login {
  font-family: inherit !important;

  .scroll-content {
    background-image: url('../assets/background/sign-in-BG@3x.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  .logo {
    margin: 3em;
  }

  .login-button {
    background: #357782;
    background: linear-gradient(to right, #1c5379, #59ab8e);
    opacity: 0.80;
    filter: alpha(opacity = 80);
    font-size: 30px;
    padding: 30px 0 30px 0;
    color: #d7e7d7;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  ion-input {
    box-shadow: none;
    height: 101px;
    opacity: 0.80;
    filter: alpha(opacity = 80);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #d7e7d7;
    font-size: 20pt;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #357782;
    background: linear-gradient(to right, #1c5379, #59ab8e);
    ::-webkit-input-placeholder{
      text-align: center;
      color: #d7e7d7 !important;
      opacity: 0.8;
      filter: alpha(opacity = 80);
    }
    input {
      margin: 0 !important;
      text-align: center !important;

    }
  }

  .footer-text {
    clear: both;
    font: inherit;
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 25px;
    z-index: 10;
    font-size: 1.1em;
    a {
      font-family: $font-family-normal;
      color: color($colors, basic);
    }
  }
}
