page-tabs {
  //.tabs .tab-button {
  //  color: #478CAD !important;
  //}
  //
  //.tabs-md .tab-button[aria-selected=true], .tab-button-icon {
  //  color: #478CAD !important;
  //}

  .tab-button {
    background-color: rgba(229,231,229,0.5);
  }

  .tab-badge {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 9px;
    left: 0px;
    font-size: 9px;
  }

  .ion-md-heart {
    color: #EA6178 !important;
  }

  .tab-notification {
    color: green !important;
  }

}
