<ion-content class="card-background-page">

    <div class="logo" text-center>
        <img src="assets/logo/main-logo@3x.png"/>
    </div>


    <div *ngIf="step == 'step_pincode'">
        <div class="genericTitle">Enter pin code</div>
        <div class="pincode-input-container">
            <ion-input maxlength="1" [(ngModel)]="in1" (change)="onPinChange()" (click)="onPinClick('in1')" class="pincode-input-text first"></ion-input>
            <ion-input maxlength="1" [(ngModel)]="in2" (change)="onPinChange()" (click)="onPinClick('in2')" class="pincode-input-text mid"></ion-input>
            <ion-input maxlength="1" [(ngModel)]="in3" (change)="onPinChange()" (click)="onPinClick('in3')" class="pincode-input-text mid"></ion-input>
            <ion-input maxlength="1" [(ngModel)]="in4" (change)="onPinChange()" (click)="onPinClick('in4')" class="pincode-input-text mid"></ion-input>
            <ion-input maxlength="1" [(ngModel)]="in5" (change)="onPinChange()" (click)="onPinClick('in5')" class="pincode-input-text mid"></ion-input>
            <ion-input maxlength="1" [(ngModel)]="in6" (change)="onPinChange()" (click)="onPinClick('in6')" class="pincode-input-text last"></ion-input>
        </div>

        <!--<div>-->
            <!--<button  ion-button full (click)="onSubmit()" class="submit-button">Save</button>-->
        <!--</div>-->
    </div>

    <p>
        <ion-input
                *ngIf="false && step == 'step_pincode'"
                type="text"
                class="pin"
                placeholder="enter pin code"
                    [(ngModel)]="data.pincode"
                required
                (change)="validate('step_password')"></ion-input>
        <ion-input
                *ngIf="step == 'step_password'"
                type="password"
                placeholder="new password"
                    [(ngModel)]="data.plain_password"
                required
                (change)="validate('step_password_confirmation')"></ion-input>
        <ion-input
                *ngIf="step == 'step_password_confirmation'"
                type="password"
                placeholder="confirm new password"
                    [(ngModel)]="data.confirmation_plain_password"
                required
                (change)="validate('step_submit')"></ion-input>
    </p>

    <ion-grid>
        <ion-row class="social-auth">
            <ion-col col-6>
                <ion-row class="social-auth">
                    <ion-col col-7></ion-col>
                    <ion-col col-4><img src="assets/icon/fb-icon@3x.png"></ion-col>
                    <ion-col col-1></ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-6>
                <ion-row class="social-auth">
                    <ion-col col-1></ion-col>
                    <ion-col col-4><img src="assets/icon/google-icon@3x.png"></ion-col>
                    <ion-col col-7></ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="footer-text" text-center>
        <a (click)="onRegister()" tappable>Create a New Account</a>
    </div>
</ion-content>