page-password-reset {
  .scroll-content {
    background-image: url('../assets/background/sign-in-BG@3x.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  .logo {
    margin: 3em;
  }

  .pincode-input-container {
    background: #357782;
    background: linear-gradient(to right, rgba(28, 83, 121, 0.8), rgba(89, 171, 142, 0.8));
    display: inline-block;
    width: 100%;

    ion-input {
      opacity: 0.80;
      filter: alpha(opacity = 80);
      font-size: 30px;
      padding: 10px 0 10px 0;
      color: #d7e7d7;
      //font-family: $font-family-normal;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      background: transparent;
      text-align: center !important;
      border: none;
      margin: 4px 0 !important;

      input {
        text-align: center !important;

      }
    }

    .first {
      border-right: 1px solid #d7e7d7;
    }
    .mid {
      border-right: 1px solid #d7e7d7;
    }
    .last {
      border: none;
    }

    .pincode-input-text {
      width: 16.666666%;
      float: left;
    }
  }


  ion-input {
    font-family: $font-family-base;
    color: #d7e7d7;
    font-size: 20pt;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #357782;
    background: linear-gradient(to right, rgba(28, 83, 121, 0.8), rgba(89, 171, 142, 0.8)); //#1c5379 -> #59ab8e

    ::-webkit-input-placeholder{
      text-align: center;
      color: #d7e7d7 !important;
      opacity: 0.8;
      filter: alpha(opacity = 80);
      letter-spacing: 1px;
    }
    //todo: make it work for pin input
    .pin {
      background-image: url('../assets/images/primary-button-3x.png'), url('../assets/images/8-digit-separator.png') !important;
      background-repeat: repeat-y, repeat-y;
      background-size: 100%, 100%;

      input {
        margin: 0 !important;
        margin-left: 30px !important;
        text-align: left !important;
        letter-spacing: 48px;
      }
    }
    input {
      margin: 0 !important;
      text-align: center !important;

    }
  }

  .footer-text {
    clear: both;
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 25px;
    z-index: 10;
    a {
      color: #1F547A;
    }
  }

  .social-auth {
    padding-top: 3em;
  }

  .submit-button {
    font-size: 1.5em;
    background: #357782;
    background: linear-gradient(to right, rgba(28, 83, 121, 0.8), rgba(89, 171, 142, 0.8));
    padding: 20px 0 20px 0;
    margin: 0;
    color: #B8D2C6;
    text-transform: none;
  }

}
