<ion-header>
    <ion-row class="mt-header">
        <ion-col col-2 text-left>
            <button ion-button class="page-back-button button-transparent" (click)="goBackPage()">
                <ion-icon class="back-icon" name="ios-arrow-back" *ngIf="navCtrl.canGoBack()" ></ion-icon>
            </button>
        </ion-col>
        <ion-col col-8 text-center>
            <div class="genericTitle inHeader">
                tree of life
            </div>
        </ion-col>
        <ion-col col-2 text-right></ion-col>
    </ion-row>
</ion-header>

<ion-content>

    <div style="padding-top: 0; height: 100%;">
        <div *ngIf="!dataLoading && !posts?.length" style="height: 100%;">
            <no-data></no-data>
        </div>

        <ion-grid class="posts-grid">
            <ion-row class="post-row">
                <ion-col col-3 class="user-profile">
                    <img [src]="getUserProfileImage(profile)" style="border-radius: 50%; width: 35px; ">
                </ion-col>
                <ion-col col-9 class="post-container">
                    <div class="post-content" (click)="onPostAdd()" tappable>
                        <div class="post-a-leaf">would you like to post a leaf?</div>
                        <!--<div class="post-a-photo"><ion-icon name="ios-camera"></ion-icon></div>-->
                    </div>
                </ion-col>
            </ion-row>

            <div *ngFor="let post of posts; let i = index">
                <post [post]="post" [userProfile]="profile" [karmaBarPosition]="(i == 0) ? 'bottom' : 'top'" (isReloadNeeded)="handleReload($event)"></post>
            </div>

            <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-grid>

    </div>

</ion-content>