profile-privacy {

  ion-content {
    background-image: url('../assets/background/SETTINGS-BG@1x.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  ion-list {
    margin: 0 !important;
  }

  .item {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  ion-item {
    ion-label {
      color: color($colors, basic) !important;
      font-family: $font-family-normal;
      font-weight: lighter;
    }
    background: none !important;
    text-transform: none;
    margin: 7px 0 !important;
    box-shadow: none;

    .item-inner {
      border: none !important;
    }
    .input-cover {
      border-bottom: 1px solid rgba(12, 33, 48, 0.6);
    }
    .button-inner {
      border-bottom: 1px solid rgba(12, 33, 48, 0.6);
    }

    input, textarea {
      color: color($colors, basic);
      font-size: 16px;
    }
  }

  .privacy {}

  .privacy_item {
    margin: 0 !important;
    padding-left: 8px !important;
    ion-label {
      font-weight: normal;
    }

  }
  .item-input:last-child {
    border: none !important;
  }

  .submit-button {
    font-size: 1.5em;
    background: linear-gradient(to right, rgba(28, 83, 121, 0.8), rgba(89, 171, 142, 0.8));
    padding: 20px 0 20px 0;
    margin: 20px 0;
    color: #FFFFFF;
    text-transform: none;
  }

  .actions-container {
    background-color: rgba(255, 255, 255, 0.3);

    [col-6] {
      padding: 0;
    }

    button {
      color: #1C5379;
      text-decoration: none;
      text-transform: none;
      font-size: 26px;
    }

  }

  .privacy-note {
    padding: 0px 20px;
    text-align: center;
    color: #1C5379;
    font-size: 15px;
    font-family: $font-family-normal;
  }

}
