page-profile-edit-change-password {

  ion-content {
    background-image: url('../assets/background/SETTINGS-BG@1x.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  .classic-button {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 26px;
    padding: 25px 0 25px 0;
    color: #1C5379;
    text-transform: none;
    margin-bottom: 7px;
    box-shadow: none;
  }

  .title {
    color: #1c5379;
    text-align: center;
    font-size: 26px;
    padding: 10px 0;
  }

  .item {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  ion-item {
    ion-label {
      color: #1C5379 !important;
    }
    background: none !important;
    //padding-left: 10px !important;
    font-size: 26px;
    color: #1C5379 !important;
    text-transform: none;
    margin-bottom: 7px !important;
    box-shadow: none;
    .item-inner {
      border: none !important;
    }
    .input-cover {
      border-bottom: 1px solid rgba(12, 33, 48, 0.6);
    }

  }

  .submit-button {
    font-size: 1.5em;
    background: #357782;
    background: linear-gradient(to right, rgba(28, 83, 121, 0.8), rgba(89, 171, 142, 0.8));
    padding: 20px 0 20px 0;
    margin: 0;
    color: #B8D2C6;
    text-transform: none;
  }

  .cancel-button {
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px 0 20px 0;
    margin-top: 10px;
    color: #1c5379;
    text-transform: none;
  }

}
